<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_208ad351b547450c85c5662e39d10e65 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
    
            <style> #vega_lite_89afbfdfbbe347a8991bbfa0b3ad397f {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/2.6.5/vega.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/1.3.1/vega-lite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/2.2.0/vega-embed.min.js"></script>
    
            <style> #vega_lite_5ea1b23971174c0eb6063de8c5b2f6d2 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_lite_c6ce4bd4c9464687b536fa71c1e36d04 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_lite_45b1146be41d4630b2e8dfc229c2f9e4 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_lite_325400f307964d5086627c80a9a587c1 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_lite_c117a779c14e4065b91e4ab5d3854249 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
</head>
<body>    
    
            <div class="folium-map" id="map_208ad351b547450c85c5662e39d10e65" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_208ad351b547450c85c5662e39d10e65 = L.map(
                                  'map_208ad351b547450c85c5662e39d10e65',
                                  {center: [47.5937948,-122.334555],
                                  zoom: 10,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_6987ccbb4d29474bab9fe13c11ac4752 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_208ad351b547450c85c5662e39d10e65);
        
    

            var marker_c3618370f13b439999587627dd1bd8f2 = L.marker(
                [47.5937948,-122.33455500000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_86e92f6413054137915f884873e88353 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c3618370f13b439999587627dd1bd8f2.setIcon(icon_86e92f6413054137915f884873e88353);
            
    
            var popup_9bb79f36a7774f0c992b8f9a7ffd6e3b = L.popup({maxWidth: '300'});

            
                var html_d7e2f99625494b4ea623657d19018e20 = $('<div id="html_d7e2f99625494b4ea623657d19018e20" style="width: 100.0%; height: 100.0%;">114+04630 Start</div>')[0];
                popup_9bb79f36a7774f0c992b8f9a7ffd6e3b.setContent(html_d7e2f99625494b4ea623657d19018e20);
            

            marker_c3618370f13b439999587627dd1bd8f2.bindPopup(popup_9bb79f36a7774f0c992b8f9a7ffd6e3b);

            
        
    

            var marker_a14b08cce0b64831b0f8bcd830fcabf1 = L.marker(
                [47.602157,-122.336607],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_2364e61876124bdf9beba89158e75ff2 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a14b08cce0b64831b0f8bcd830fcabf1.setIcon(icon_2364e61876124bdf9beba89158e75ff2);
            
    
            var popup_51b815e09525428fb84da72cad2edc4e = L.popup({maxWidth: '300'});

            
                var html_3e6610a3d72a4a3e846dcef5c2597702 = $('<div id="html_3e6610a3d72a4a3e846dcef5c2597702" style="width: 100.0%; height: 100.0%;">114+04630 End</div>')[0];
                popup_51b815e09525428fb84da72cad2edc4e.setContent(html_3e6610a3d72a4a3e846dcef5c2597702);
            

            marker_a14b08cce0b64831b0f8bcd830fcabf1.bindPopup(popup_51b815e09525428fb84da72cad2edc4e);

            
        
    
                var poly_line_9acc95bf39da4358bb90defeb1bbd6fb = L.polyline(
                    [[47.5937948, -122.33455500000001], [47.602157, -122.336607]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_208ad351b547450c85c5662e39d10e65);
            
    
            var popup_a33d50e088ee4173b347d6de9b3e6179 = L.popup({maxWidth: '300'});

            
                var vega_lite_89afbfdfbbe347a8991bbfa0b3ad397f = $('             <div id="vega_lite_89afbfdfbbe347a8991bbfa0b3ad397f"></div>             ')[0];
                popup_a33d50e088ee4173b347d6de9b3e6179.setContent(vega_lite_89afbfdfbbe347a8991bbfa0b3ad397f);
            

            poly_line_9acc95bf39da4358bb90defeb1bbd6fb.bindPopup(popup_a33d50e088ee4173b347d6de9b3e6179);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_89afbfdfbbe347a8991bbfa0b3ad397f, embedSpec, function(error, result) {}
            );
        
            
        
    

            var marker_b25163d2e5374459a7f5896d59771851 = L.marker(
                [47.602157,-122.336607],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_33ea819d7355429487d1c31abc1016ab = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b25163d2e5374459a7f5896d59771851.setIcon(icon_33ea819d7355429487d1c31abc1016ab);
            
    
            var popup_5fedf8dc9d244c3d948f209feebff992 = L.popup({maxWidth: '300'});

            
                var html_c565f757bf1a4821846d23e9ced89a51 = $('<div id="html_c565f757bf1a4821846d23e9ced89a51" style="width: 100.0%; height: 100.0%;">114P04630 Start</div>')[0];
                popup_5fedf8dc9d244c3d948f209feebff992.setContent(html_c565f757bf1a4821846d23e9ced89a51);
            

            marker_b25163d2e5374459a7f5896d59771851.bindPopup(popup_5fedf8dc9d244c3d948f209feebff992);

            
        
    

            var marker_860c9990e040491db3cc0614a63f4a9c = L.marker(
                [47.6024824,-122.33690940000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_b8befa7373f3458b8c0c881f890ca6a5 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_860c9990e040491db3cc0614a63f4a9c.setIcon(icon_b8befa7373f3458b8c0c881f890ca6a5);
            
    
            var popup_fd0468e25bb74054802ac0dba5876170 = L.popup({maxWidth: '300'});

            
                var html_93c5a55bedb34526b6ead559d011b0fd = $('<div id="html_93c5a55bedb34526b6ead559d011b0fd" style="width: 100.0%; height: 100.0%;">114P04630 End</div>')[0];
                popup_fd0468e25bb74054802ac0dba5876170.setContent(html_93c5a55bedb34526b6ead559d011b0fd);
            

            marker_860c9990e040491db3cc0614a63f4a9c.bindPopup(popup_fd0468e25bb74054802ac0dba5876170);

            
        
    
                var poly_line_dee2208bc7234e44b7941ede65ad1286 = L.polyline(
                    [[47.602157, -122.336607], [47.6024824, -122.33690940000001]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_208ad351b547450c85c5662e39d10e65);
            
    
            var popup_16751699034c4e22b01b5ea6792136e7 = L.popup({maxWidth: '300'});

            
                var vega_lite_5ea1b23971174c0eb6063de8c5b2f6d2 = $('             <div id="vega_lite_5ea1b23971174c0eb6063de8c5b2f6d2"></div>             ')[0];
                popup_16751699034c4e22b01b5ea6792136e7.setContent(vega_lite_5ea1b23971174c0eb6063de8c5b2f6d2);
            

            poly_line_dee2208bc7234e44b7941ede65ad1286.bindPopup(popup_16751699034c4e22b01b5ea6792136e7);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_5ea1b23971174c0eb6063de8c5b2f6d2, embedSpec, function(error, result) {}
            );
        
            
        
    

            var marker_ca86b559d9bf44b296691702a6a17e70 = L.marker(
                [47.6024824,-122.33690940000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_36e83d623e284f4c86b8765d5c17b6e9 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ca86b559d9bf44b296691702a6a17e70.setIcon(icon_36e83d623e284f4c86b8765d5c17b6e9);
            
    
            var popup_474ec47c1e11456eaa927427aec4889d = L.popup({maxWidth: '300'});

            
                var html_8db6f2729f9c440795dd4373dc691915 = $('<div id="html_8db6f2729f9c440795dd4373dc691915" style="width: 100.0%; height: 100.0%;">114+04631 Start</div>')[0];
                popup_474ec47c1e11456eaa927427aec4889d.setContent(html_8db6f2729f9c440795dd4373dc691915);
            

            marker_ca86b559d9bf44b296691702a6a17e70.bindPopup(popup_474ec47c1e11456eaa927427aec4889d);

            
        
    

            var marker_215350f3b32640bbb0675528c6915c94 = L.marker(
                [47.604436,-122.33870800000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_e338b194a9d049b183990622e60d5020 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_215350f3b32640bbb0675528c6915c94.setIcon(icon_e338b194a9d049b183990622e60d5020);
            
    
            var popup_c24b84ba759840babd0a57e09f1b3d08 = L.popup({maxWidth: '300'});

            
                var html_3e1b0b7dc1a94d238f9f9b6fd40c812e = $('<div id="html_3e1b0b7dc1a94d238f9f9b6fd40c812e" style="width: 100.0%; height: 100.0%;">114+04631 End</div>')[0];
                popup_c24b84ba759840babd0a57e09f1b3d08.setContent(html_3e1b0b7dc1a94d238f9f9b6fd40c812e);
            

            marker_215350f3b32640bbb0675528c6915c94.bindPopup(popup_c24b84ba759840babd0a57e09f1b3d08);

            
        
    
                var poly_line_6db148f4c200478a81128d634aabe4f8 = L.polyline(
                    [[47.6024824, -122.33690940000001], [47.604436, -122.33870800000001]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_208ad351b547450c85c5662e39d10e65);
            
    
            var popup_b20df0d39b314a7ba99978d4826d71cc = L.popup({maxWidth: '300'});

            
                var vega_lite_c6ce4bd4c9464687b536fa71c1e36d04 = $('             <div id="vega_lite_c6ce4bd4c9464687b536fa71c1e36d04"></div>             ')[0];
                popup_b20df0d39b314a7ba99978d4826d71cc.setContent(vega_lite_c6ce4bd4c9464687b536fa71c1e36d04);
            

            poly_line_6db148f4c200478a81128d634aabe4f8.bindPopup(popup_b20df0d39b314a7ba99978d4826d71cc);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_c6ce4bd4c9464687b536fa71c1e36d04, embedSpec, function(error, result) {}
            );
        
            
        
    

            var marker_90a081fe9d4a49bbb3d2e5cbffd7d719 = L.marker(
                [47.604436,-122.33870800000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_675f25d4036f41ef8187f77767685591 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_90a081fe9d4a49bbb3d2e5cbffd7d719.setIcon(icon_675f25d4036f41ef8187f77767685591);
            
    
            var popup_3fb5760c680c426e9b5ecefc9822fed6 = L.popup({maxWidth: '300'});

            
                var html_019010dde6b64be89ef5138b400b8b9c = $('<div id="html_019010dde6b64be89ef5138b400b8b9c" style="width: 100.0%; height: 100.0%;">114P04631 Start</div>')[0];
                popup_3fb5760c680c426e9b5ecefc9822fed6.setContent(html_019010dde6b64be89ef5138b400b8b9c);
            

            marker_90a081fe9d4a49bbb3d2e5cbffd7d719.bindPopup(popup_3fb5760c680c426e9b5ecefc9822fed6);

            
        
    

            var marker_0921c02ec36a46d19aaf08347c62e909 = L.marker(
                [47.6054994,-122.33966140000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_156443b563f34253b2726385ba1baf90 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0921c02ec36a46d19aaf08347c62e909.setIcon(icon_156443b563f34253b2726385ba1baf90);
            
    
            var popup_994beaa477324f05b9892cc4b07d1e8b = L.popup({maxWidth: '300'});

            
                var html_f3260cd9126d45738d2d0275360c6f6d = $('<div id="html_f3260cd9126d45738d2d0275360c6f6d" style="width: 100.0%; height: 100.0%;">114P04631 End</div>')[0];
                popup_994beaa477324f05b9892cc4b07d1e8b.setContent(html_f3260cd9126d45738d2d0275360c6f6d);
            

            marker_0921c02ec36a46d19aaf08347c62e909.bindPopup(popup_994beaa477324f05b9892cc4b07d1e8b);

            
        
    
                var poly_line_a2d14698e0c04ce1b5f71ce2428bb1e7 = L.polyline(
                    [[47.604436, -122.33870800000001], [47.6054994, -122.33966140000001]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_208ad351b547450c85c5662e39d10e65);
            
    
            var popup_a48e90f29b36452f9423b0b5185dc43c = L.popup({maxWidth: '300'});

            
                var vega_lite_45b1146be41d4630b2e8dfc229c2f9e4 = $('             <div id="vega_lite_45b1146be41d4630b2e8dfc229c2f9e4"></div>             ')[0];
                popup_a48e90f29b36452f9423b0b5185dc43c.setContent(vega_lite_45b1146be41d4630b2e8dfc229c2f9e4);
            

            poly_line_a2d14698e0c04ce1b5f71ce2428bb1e7.bindPopup(popup_a48e90f29b36452f9423b0b5185dc43c);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_45b1146be41d4630b2e8dfc229c2f9e4, embedSpec, function(error, result) {}
            );
        
            
        
    

            var marker_afd687f9e9774307808651a4cb251404 = L.marker(
                [47.6054994,-122.33966140000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_acb8bbcae0574d9db0bf4fd6de022c1e = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_afd687f9e9774307808651a4cb251404.setIcon(icon_acb8bbcae0574d9db0bf4fd6de022c1e);
            
    
            var popup_efa3571c878c494c82eb676eb17cddfc = L.popup({maxWidth: '300'});

            
                var html_d6bc10f1f5fa49f2b8b4fbdecd57075e = $('<div id="html_d6bc10f1f5fa49f2b8b4fbdecd57075e" style="width: 100.0%; height: 100.0%;">114+04632 Start</div>')[0];
                popup_efa3571c878c494c82eb676eb17cddfc.setContent(html_d6bc10f1f5fa49f2b8b4fbdecd57075e);
            

            marker_afd687f9e9774307808651a4cb251404.bindPopup(popup_efa3571c878c494c82eb676eb17cddfc);

            
        
    

            var marker_72d9bf7fa00d44869c880bbc38551abe = L.marker(
                [47.612718,-122.347392],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_fa867274c64e4fa695b0faced63d5bcc = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_72d9bf7fa00d44869c880bbc38551abe.setIcon(icon_fa867274c64e4fa695b0faced63d5bcc);
            
    
            var popup_b00ce98aaec04edd87afc5a0fa7cda6b = L.popup({maxWidth: '300'});

            
                var html_22dbb9064f194053bcceb393b027e846 = $('<div id="html_22dbb9064f194053bcceb393b027e846" style="width: 100.0%; height: 100.0%;">114+04632 End</div>')[0];
                popup_b00ce98aaec04edd87afc5a0fa7cda6b.setContent(html_22dbb9064f194053bcceb393b027e846);
            

            marker_72d9bf7fa00d44869c880bbc38551abe.bindPopup(popup_b00ce98aaec04edd87afc5a0fa7cda6b);

            
        
    
                var poly_line_1580e46321cd47ee96ca908a1f7ccae0 = L.polyline(
                    [[47.6054994, -122.33966140000001], [47.612718, -122.347392]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_208ad351b547450c85c5662e39d10e65);
            
    
            var popup_9b3179a82f564c598e3d6f3cc5217724 = L.popup({maxWidth: '300'});

            
                var vega_lite_325400f307964d5086627c80a9a587c1 = $('             <div id="vega_lite_325400f307964d5086627c80a9a587c1"></div>             ')[0];
                popup_9b3179a82f564c598e3d6f3cc5217724.setContent(vega_lite_325400f307964d5086627c80a9a587c1);
            

            poly_line_1580e46321cd47ee96ca908a1f7ccae0.bindPopup(popup_9b3179a82f564c598e3d6f3cc5217724);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_325400f307964d5086627c80a9a587c1, embedSpec, function(error, result) {}
            );
        
            
        
    

            var marker_8344361d94d647dea09c60e9596e6a5e = L.marker(
                [47.612718,-122.347392],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_7caaf00ccb9c421091c7344d76ab483d = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8344361d94d647dea09c60e9596e6a5e.setIcon(icon_7caaf00ccb9c421091c7344d76ab483d);
            
    
            var popup_8f70cd47b7424cb384fa2588fe3d709a = L.popup({maxWidth: '300'});

            
                var html_83d272a85e9543b7b0df8a1c25349565 = $('<div id="html_83d272a85e9543b7b0df8a1c25349565" style="width: 100.0%; height: 100.0%;">114P04632 Start</div>')[0];
                popup_8f70cd47b7424cb384fa2588fe3d709a.setContent(html_83d272a85e9543b7b0df8a1c25349565);
            

            marker_8344361d94d647dea09c60e9596e6a5e.bindPopup(popup_8f70cd47b7424cb384fa2588fe3d709a);

            
        
    

            var marker_49b93cd51748401aa2023ebd9b005bf8 = L.marker(
                [47.6139228,-122.3477682],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_208ad351b547450c85c5662e39d10e65);
            
    

                var icon_127c72cbf15342e0b03146c74e54fd0f = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_49b93cd51748401aa2023ebd9b005bf8.setIcon(icon_127c72cbf15342e0b03146c74e54fd0f);
            
    
            var popup_cc29d4ad1f0b4a27acd7646059e4b117 = L.popup({maxWidth: '300'});

            
                var html_4b183f0eb626433080e0e2739e16e2c7 = $('<div id="html_4b183f0eb626433080e0e2739e16e2c7" style="width: 100.0%; height: 100.0%;">114P04632 End</div>')[0];
                popup_cc29d4ad1f0b4a27acd7646059e4b117.setContent(html_4b183f0eb626433080e0e2739e16e2c7);
            

            marker_49b93cd51748401aa2023ebd9b005bf8.bindPopup(popup_cc29d4ad1f0b4a27acd7646059e4b117);

            
        
    
                var poly_line_5b63b74bec85480e91556107d3f33a49 = L.polyline(
                    [[47.612718, -122.347392], [47.6139228, -122.3477682]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_208ad351b547450c85c5662e39d10e65);
            
    
            var popup_453233339ac74f6c8b3f0f659b88dac5 = L.popup({maxWidth: '300'});

            
                var vega_lite_c117a779c14e4065b91e4ab5d3854249 = $('             <div id="vega_lite_c117a779c14e4065b91e4ab5d3854249"></div>             ')[0];
                popup_453233339ac74f6c8b3f0f659b88dac5.setContent(vega_lite_c117a779c14e4065b91e4ab5d3854249);
            

            poly_line_5b63b74bec85480e91556107d3f33a49.bindPopup(popup_453233339ac74f6c8b3f0f659b88dac5);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_c117a779c14e4065b91e4ab5d3854249, embedSpec, function(error, result) {}
            );
        
            
        
</script>