<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_c4cc102e18484be78fb5528787e08e92 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
    
            <style> #vega_lite_cea2eac46a0a416bb6dac8e43ee79edb {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/2.6.5/vega.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/1.3.1/vega-lite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/2.2.0/vega-embed.min.js"></script>
    
            <style> #vega_lite_27126d5e8fe84ee6a7c0884d73b910e0 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_lite_33c5dd151f8948108b97ad423e1edc26 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_lite_80e263c451e0475aacf8b09766b67643 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_lite_0d80d437f499412eb251ed63e6f57723 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_lite_bbe15fb7c24a4046af5dcb9e9795f9ad {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
</head>
<body>    
    
            <div class="folium-map" id="map_c4cc102e18484be78fb5528787e08e92" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_c4cc102e18484be78fb5528787e08e92 = L.map(
                                  'map_c4cc102e18484be78fb5528787e08e92',
                                  {center: [47.5937948,-122.334555],
                                  zoom: 10,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_f4f7c61affae430d8485dd0aa47a6c7e = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_c4cc102e18484be78fb5528787e08e92);
        
    

            var marker_87baeb3dd34e446498da75b32aa10c08 = L.marker(
                [47.5937948,-122.33455500000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_02a6d0076a4740f0885847260bb209f1 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_87baeb3dd34e446498da75b32aa10c08.setIcon(icon_02a6d0076a4740f0885847260bb209f1);
            
    
            var popup_a4ced13012404cf692e113e90a54c364 = L.popup({maxWidth: '300'});

            
                var html_31c8c58348ea4fea80f726b89ef02174 = $('<div id="html_31c8c58348ea4fea80f726b89ef02174" style="width: 100.0%; height: 100.0%;">114+04630 Start</div>')[0];
                popup_a4ced13012404cf692e113e90a54c364.setContent(html_31c8c58348ea4fea80f726b89ef02174);
            

            marker_87baeb3dd34e446498da75b32aa10c08.bindPopup(popup_a4ced13012404cf692e113e90a54c364);

            
        
    

            var marker_e4e09e838522482b9a27e1309121ca84 = L.marker(
                [47.602157,-122.336607],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_1ddeb9943a5a41aaa6d42ccd3b44c821 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e4e09e838522482b9a27e1309121ca84.setIcon(icon_1ddeb9943a5a41aaa6d42ccd3b44c821);
            
    
            var popup_c373a5e7b2ac4a4aa7f77193293193cf = L.popup({maxWidth: '300'});

            
                var html_5ebb784b6a2843ea90cba23682b16192 = $('<div id="html_5ebb784b6a2843ea90cba23682b16192" style="width: 100.0%; height: 100.0%;">114+04630 End</div>')[0];
                popup_c373a5e7b2ac4a4aa7f77193293193cf.setContent(html_5ebb784b6a2843ea90cba23682b16192);
            

            marker_e4e09e838522482b9a27e1309121ca84.bindPopup(popup_c373a5e7b2ac4a4aa7f77193293193cf);

            
        
    
                var poly_line_f7469c04dc4b4f7ea3b6716aa868d0c2 = L.polyline(
                    [[47.5937948, -122.33455500000001], [47.602157, -122.336607]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    
            var popup_8a4892ec6a4f49ecb9dd990749b532ee = L.popup({maxWidth: '300'});

            
                var vega_lite_cea2eac46a0a416bb6dac8e43ee79edb = $('             <div id="vega_lite_cea2eac46a0a416bb6dac8e43ee79edb"></div>             ')[0];
                popup_8a4892ec6a4f49ecb9dd990749b532ee.setContent(vega_lite_cea2eac46a0a416bb6dac8e43ee79edb);
            

            poly_line_f7469c04dc4b4f7ea3b6716aa868d0c2.bindPopup(popup_8a4892ec6a4f49ecb9dd990749b532ee);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_cea2eac46a0a416bb6dac8e43ee79edb, embedSpec, function(error, result) {}
            );
        
            
        
    

            var marker_faff7717a4774573a8007e8989c36841 = L.marker(
                [47.602157,-122.336607],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_13337e63a9fe4b0189a7bfbf8887ca5c = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_faff7717a4774573a8007e8989c36841.setIcon(icon_13337e63a9fe4b0189a7bfbf8887ca5c);
            
    
            var popup_15de7a5462e7405daff2216d4db7361c = L.popup({maxWidth: '300'});

            
                var html_9dbd361d3dcb4a72b743674bb3943940 = $('<div id="html_9dbd361d3dcb4a72b743674bb3943940" style="width: 100.0%; height: 100.0%;">114P04630 Start</div>')[0];
                popup_15de7a5462e7405daff2216d4db7361c.setContent(html_9dbd361d3dcb4a72b743674bb3943940);
            

            marker_faff7717a4774573a8007e8989c36841.bindPopup(popup_15de7a5462e7405daff2216d4db7361c);

            
        
    

            var marker_b04f2bb53470496482039cf4347efc71 = L.marker(
                [47.6024824,-122.33690940000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_aeb8ad99ac8c498fab05612e23c83f8f = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b04f2bb53470496482039cf4347efc71.setIcon(icon_aeb8ad99ac8c498fab05612e23c83f8f);
            
    
            var popup_ae79c13a8a31402581714e20668d44e5 = L.popup({maxWidth: '300'});

            
                var html_1b80844ab98e42afb6037118e81c5b0b = $('<div id="html_1b80844ab98e42afb6037118e81c5b0b" style="width: 100.0%; height: 100.0%;">114P04630 End</div>')[0];
                popup_ae79c13a8a31402581714e20668d44e5.setContent(html_1b80844ab98e42afb6037118e81c5b0b);
            

            marker_b04f2bb53470496482039cf4347efc71.bindPopup(popup_ae79c13a8a31402581714e20668d44e5);

            
        
    
                var poly_line_70afb45f95e84f278177f643ab1e00fd = L.polyline(
                    [[47.602157, -122.336607], [47.6024824, -122.33690940000001]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    
            var popup_e6bb5861425349289db869203c2928be = L.popup({maxWidth: '300'});

            
                var vega_lite_27126d5e8fe84ee6a7c0884d73b910e0 = $('             <div id="vega_lite_27126d5e8fe84ee6a7c0884d73b910e0"></div>             ')[0];
                popup_e6bb5861425349289db869203c2928be.setContent(vega_lite_27126d5e8fe84ee6a7c0884d73b910e0);
            

            poly_line_70afb45f95e84f278177f643ab1e00fd.bindPopup(popup_e6bb5861425349289db869203c2928be);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_27126d5e8fe84ee6a7c0884d73b910e0, embedSpec, function(error, result) {}
            );
        
            
        
    

            var marker_dbcd65957d124797a9c8b4f8b98f289c = L.marker(
                [47.6024824,-122.33690940000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_002e0a082cd94785bbf5ffbf1da33c34 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_dbcd65957d124797a9c8b4f8b98f289c.setIcon(icon_002e0a082cd94785bbf5ffbf1da33c34);
            
    
            var popup_98bcdddd3b7645e59f0ead71a21e5a8a = L.popup({maxWidth: '300'});

            
                var html_f4d9c47347274e6ba17255f001e6ea4d = $('<div id="html_f4d9c47347274e6ba17255f001e6ea4d" style="width: 100.0%; height: 100.0%;">114+04631 Start</div>')[0];
                popup_98bcdddd3b7645e59f0ead71a21e5a8a.setContent(html_f4d9c47347274e6ba17255f001e6ea4d);
            

            marker_dbcd65957d124797a9c8b4f8b98f289c.bindPopup(popup_98bcdddd3b7645e59f0ead71a21e5a8a);

            
        
    

            var marker_7e8638fa9a354debb187e523fa2a6268 = L.marker(
                [47.604436,-122.33870800000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_61f715623fc346aeb48d14ed4b34ade3 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7e8638fa9a354debb187e523fa2a6268.setIcon(icon_61f715623fc346aeb48d14ed4b34ade3);
            
    
            var popup_f62f171ec10c4d99ba0d7ae884400de9 = L.popup({maxWidth: '300'});

            
                var html_ff7ebfc28a9a4ad2a7eba78addd726a1 = $('<div id="html_ff7ebfc28a9a4ad2a7eba78addd726a1" style="width: 100.0%; height: 100.0%;">114+04631 End</div>')[0];
                popup_f62f171ec10c4d99ba0d7ae884400de9.setContent(html_ff7ebfc28a9a4ad2a7eba78addd726a1);
            

            marker_7e8638fa9a354debb187e523fa2a6268.bindPopup(popup_f62f171ec10c4d99ba0d7ae884400de9);

            
        
    
                var poly_line_ff249664ef714111bf932867f9b1e5c5 = L.polyline(
                    [[47.6024824, -122.33690940000001], [47.604436, -122.33870800000001]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    
            var popup_ccfbeb386bce4817b041e3debe3b923a = L.popup({maxWidth: '300'});

            
                var vega_lite_33c5dd151f8948108b97ad423e1edc26 = $('             <div id="vega_lite_33c5dd151f8948108b97ad423e1edc26"></div>             ')[0];
                popup_ccfbeb386bce4817b041e3debe3b923a.setContent(vega_lite_33c5dd151f8948108b97ad423e1edc26);
            

            poly_line_ff249664ef714111bf932867f9b1e5c5.bindPopup(popup_ccfbeb386bce4817b041e3debe3b923a);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_33c5dd151f8948108b97ad423e1edc26, embedSpec, function(error, result) {}
            );
        
            
        
    

            var marker_2cf27cc368fd49d481bff032f0913bb6 = L.marker(
                [47.604436,-122.33870800000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_9c2fb6a7b39e4334968309e22a4c9054 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2cf27cc368fd49d481bff032f0913bb6.setIcon(icon_9c2fb6a7b39e4334968309e22a4c9054);
            
    
            var popup_84cbfd31aad84d5a84b5a9a77443e714 = L.popup({maxWidth: '300'});

            
                var html_734e8f66aa264b0f8da85642833d14b3 = $('<div id="html_734e8f66aa264b0f8da85642833d14b3" style="width: 100.0%; height: 100.0%;">114P04631 Start</div>')[0];
                popup_84cbfd31aad84d5a84b5a9a77443e714.setContent(html_734e8f66aa264b0f8da85642833d14b3);
            

            marker_2cf27cc368fd49d481bff032f0913bb6.bindPopup(popup_84cbfd31aad84d5a84b5a9a77443e714);

            
        
    

            var marker_9b8f39ae7b284cf0b64fd445c0555711 = L.marker(
                [47.6054994,-122.33966140000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_0c58e4f16e0e4255811e9efc6820b41f = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9b8f39ae7b284cf0b64fd445c0555711.setIcon(icon_0c58e4f16e0e4255811e9efc6820b41f);
            
    
            var popup_f38c340d21cd49a5a11763be84471581 = L.popup({maxWidth: '300'});

            
                var html_42f5d1acc7b44bc28a2a450c0cdffd30 = $('<div id="html_42f5d1acc7b44bc28a2a450c0cdffd30" style="width: 100.0%; height: 100.0%;">114P04631 End</div>')[0];
                popup_f38c340d21cd49a5a11763be84471581.setContent(html_42f5d1acc7b44bc28a2a450c0cdffd30);
            

            marker_9b8f39ae7b284cf0b64fd445c0555711.bindPopup(popup_f38c340d21cd49a5a11763be84471581);

            
        
    
                var poly_line_0f38eb8e742646b0b6a486a53d0c5eb4 = L.polyline(
                    [[47.604436, -122.33870800000001], [47.6054994, -122.33966140000001]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    
            var popup_40a1978c48fb4a309744232d043c3fd9 = L.popup({maxWidth: '300'});

            
                var vega_lite_80e263c451e0475aacf8b09766b67643 = $('             <div id="vega_lite_80e263c451e0475aacf8b09766b67643"></div>             ')[0];
                popup_40a1978c48fb4a309744232d043c3fd9.setContent(vega_lite_80e263c451e0475aacf8b09766b67643);
            

            poly_line_0f38eb8e742646b0b6a486a53d0c5eb4.bindPopup(popup_40a1978c48fb4a309744232d043c3fd9);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_80e263c451e0475aacf8b09766b67643, embedSpec, function(error, result) {}
            );
        
            
        
    

            var marker_75b2e42bf73b4e6fb77c0e6a9c648c01 = L.marker(
                [47.6054994,-122.33966140000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_7e2a4bda0aae4b9d86fe6698e59a060a = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_75b2e42bf73b4e6fb77c0e6a9c648c01.setIcon(icon_7e2a4bda0aae4b9d86fe6698e59a060a);
            
    
            var popup_368c5ce3f94843a5a34742938d573c6e = L.popup({maxWidth: '300'});

            
                var html_b273634c89f942c09ede5050642899eb = $('<div id="html_b273634c89f942c09ede5050642899eb" style="width: 100.0%; height: 100.0%;">114+04632 Start</div>')[0];
                popup_368c5ce3f94843a5a34742938d573c6e.setContent(html_b273634c89f942c09ede5050642899eb);
            

            marker_75b2e42bf73b4e6fb77c0e6a9c648c01.bindPopup(popup_368c5ce3f94843a5a34742938d573c6e);

            
        
    

            var marker_921ca155ce9047869bf71d8a9947afcd = L.marker(
                [47.612718,-122.347392],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_57633a95fc4348b8a0922c54e5f08e1e = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_921ca155ce9047869bf71d8a9947afcd.setIcon(icon_57633a95fc4348b8a0922c54e5f08e1e);
            
    
            var popup_ca475e9724884b108841b553dfc37e6c = L.popup({maxWidth: '300'});

            
                var html_fd96b953b2314737b8164ee40e06e25d = $('<div id="html_fd96b953b2314737b8164ee40e06e25d" style="width: 100.0%; height: 100.0%;">114+04632 End</div>')[0];
                popup_ca475e9724884b108841b553dfc37e6c.setContent(html_fd96b953b2314737b8164ee40e06e25d);
            

            marker_921ca155ce9047869bf71d8a9947afcd.bindPopup(popup_ca475e9724884b108841b553dfc37e6c);

            
        
    
                var poly_line_a53fca855fac4d5ba32a17b8ba871979 = L.polyline(
                    [[47.6054994, -122.33966140000001], [47.612718, -122.347392]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    
            var popup_b8d8c0eb86954aa7a074fea7104960fb = L.popup({maxWidth: '300'});

            
                var vega_lite_0d80d437f499412eb251ed63e6f57723 = $('             <div id="vega_lite_0d80d437f499412eb251ed63e6f57723"></div>             ')[0];
                popup_b8d8c0eb86954aa7a074fea7104960fb.setContent(vega_lite_0d80d437f499412eb251ed63e6f57723);
            

            poly_line_a53fca855fac4d5ba32a17b8ba871979.bindPopup(popup_b8d8c0eb86954aa7a074fea7104960fb);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_0d80d437f499412eb251ed63e6f57723, embedSpec, function(error, result) {}
            );
        
            
        
    

            var marker_a49191f3ad0b4436991330f21f31869f = L.marker(
                [47.612718,-122.347392],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_dcaa4859eb9f4f43b91520f422e4eb0a = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a49191f3ad0b4436991330f21f31869f.setIcon(icon_dcaa4859eb9f4f43b91520f422e4eb0a);
            
    
            var popup_2d0c19babb814878bf4bf173cfccd451 = L.popup({maxWidth: '300'});

            
                var html_af25b866eccd42b2a0db76eeedb2fe13 = $('<div id="html_af25b866eccd42b2a0db76eeedb2fe13" style="width: 100.0%; height: 100.0%;">114P04632 Start</div>')[0];
                popup_2d0c19babb814878bf4bf173cfccd451.setContent(html_af25b866eccd42b2a0db76eeedb2fe13);
            

            marker_a49191f3ad0b4436991330f21f31869f.bindPopup(popup_2d0c19babb814878bf4bf173cfccd451);

            
        
    

            var marker_1370985852eb4b9f8ff909ef626253f4 = L.marker(
                [47.6139228,-122.3477682],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    

                var icon_4bb2314d7b324ea394c614f2065a9822 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_1370985852eb4b9f8ff909ef626253f4.setIcon(icon_4bb2314d7b324ea394c614f2065a9822);
            
    
            var popup_6f365a2a9b9c49998a20cff185b96b95 = L.popup({maxWidth: '300'});

            
                var html_01b8a0a5d3534b14a646cc60bbcfa1db = $('<div id="html_01b8a0a5d3534b14a646cc60bbcfa1db" style="width: 100.0%; height: 100.0%;">114P04632 End</div>')[0];
                popup_6f365a2a9b9c49998a20cff185b96b95.setContent(html_01b8a0a5d3534b14a646cc60bbcfa1db);
            

            marker_1370985852eb4b9f8ff909ef626253f4.bindPopup(popup_6f365a2a9b9c49998a20cff185b96b95);

            
        
    
                var poly_line_852a07c14eae4883baea921bece73ee1 = L.polyline(
                    [[47.612718, -122.347392], [47.6139228, -122.3477682]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_c4cc102e18484be78fb5528787e08e92);
            
    
            var popup_5939e0001f4c49dc9261988394e61c46 = L.popup({maxWidth: '300'});

            
                var vega_lite_bbe15fb7c24a4046af5dcb9e9795f9ad = $('             <div id="vega_lite_bbe15fb7c24a4046af5dcb9e9795f9ad"></div>             ')[0];
                popup_5939e0001f4c49dc9261988394e61c46.setContent(vega_lite_bbe15fb7c24a4046af5dcb9e9795f9ad);
            

            poly_line_852a07c14eae4883baea921bece73ee1.bindPopup(popup_5939e0001f4c49dc9261988394e61c46);

            
                
            var embedSpec = {
                mode: "vega-lite",
                spec: {"description": "A simple bar chart with embedded data.", "data": {"values": [{"Time of Day": "A", "Travel Time": 28}, {"Time of Day": "B", "Travel Time": 55}, {"Time of Day": "C", "Travel Time": 43}, {"Time of Day": "D", "Travel Time": 91}, {"Time of Day": "E", "Travel Time": 81}, {"Time of Day": "F", "Travel Time": 53}, {"Time of Day": "G", "Travel Time": 19}, {"Time of Day": "H", "Travel Time": 87}, {"Time of Day": "I", "Travel Time": 52}]}, "mark": "bar", "encoding": {"x": {"field": "Time of Day", "type": "ordinal"}, "y": {"field": "Travel Time", "type": "quantitative"}}}
            };
            vg.embed(
                vega_lite_bbe15fb7c24a4046af5dcb9e9795f9ad, embedSpec, function(error, result) {}
            );
        
            
        
</script>