<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_e35738508f6d48eb985f18a93008526d {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
    
            <style> #vega_1b9b687efea14768a01d02f996a56006 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/1.4.3/vega.min.js"></script>
    
            <style> #vega_1d2769ed64ba4de185152b3c6e8d0f73 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_99aaf07071a64d32b3171959fa28f2c7 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_8a332c2420184fa9ae46bf4439103c8d {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_c3fdbfabd2dc467d9efeb08da47032ab {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
    
            <style> #vega_d49ca1ead7f747d185bf256172c6e8b8 {
                position : relative;
                width : 300.0px;
                height: 275.0px;
                left: 0.0%;
                top: 0.0%;
            </style>
            
</head>
<body>    
    
            <div class="folium-map" id="map_e35738508f6d48eb985f18a93008526d" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_e35738508f6d48eb985f18a93008526d = L.map(
                                  'map_e35738508f6d48eb985f18a93008526d',
                                  {center: [47.5937948,-122.334555],
                                  zoom: 10,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_4bd68103a50e4ccd8c98a3644c04704a = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_e35738508f6d48eb985f18a93008526d);
        
    

            var marker_04fc48c21cfe44f2853caf060821a5e3 = L.marker(
                [47.5937948,-122.33455500000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_0e3ed5f79c62481b8f8922b737d4b2cc = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_04fc48c21cfe44f2853caf060821a5e3.setIcon(icon_0e3ed5f79c62481b8f8922b737d4b2cc);
            
    
            var popup_d655552d175f4e9eb020f7a10b56dd15 = L.popup({maxWidth: '300'});

            
                var html_1ea5fd8e2b8d4757a7d504ff2fb94ea1 = $('<div id="html_1ea5fd8e2b8d4757a7d504ff2fb94ea1" style="width: 100.0%; height: 100.0%;">114+04630 Start</div>')[0];
                popup_d655552d175f4e9eb020f7a10b56dd15.setContent(html_1ea5fd8e2b8d4757a7d504ff2fb94ea1);
            

            marker_04fc48c21cfe44f2853caf060821a5e3.bindPopup(popup_d655552d175f4e9eb020f7a10b56dd15);

            
        
    

            var marker_8d986402ad4d471c966d1298ee7047b3 = L.marker(
                [47.602157,-122.336607],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_702b8eca317e437db6bbdc48f31c91f9 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8d986402ad4d471c966d1298ee7047b3.setIcon(icon_702b8eca317e437db6bbdc48f31c91f9);
            
    
            var popup_e116d3bc5b8b4f539301b5bd63a803e9 = L.popup({maxWidth: '300'});

            
                var html_c857a173ac08467c8b996f9934954bb3 = $('<div id="html_c857a173ac08467c8b996f9934954bb3" style="width: 100.0%; height: 100.0%;">114+04630 End</div>')[0];
                popup_e116d3bc5b8b4f539301b5bd63a803e9.setContent(html_c857a173ac08467c8b996f9934954bb3);
            

            marker_8d986402ad4d471c966d1298ee7047b3.bindPopup(popup_e116d3bc5b8b4f539301b5bd63a803e9);

            
        
    
                var poly_line_81ec18e0dbd14bf687760547c31e2470 = L.polyline(
                    [[47.5937948, -122.33455500000001], [47.602157, -122.336607]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_e35738508f6d48eb985f18a93008526d);
            
    function vega_parse(spec, div) {
            vg.parse.spec(spec, function(chart) { chart({el:div}).update(); });}
    
            var popup_31984d78db6c47e2828677de37f60149 = L.popup({maxWidth: '300'});

            
                var vega_1b9b687efea14768a01d02f996a56006 = $('             <div id="vega_1b9b687efea14768a01d02f996a56006"></div>             ')[0];
                popup_31984d78db6c47e2828677de37f60149.setContent(vega_1b9b687efea14768a01d02f996a56006);
            

            poly_line_81ec18e0dbd14bf687760547c31e2470.bindPopup(popup_31984d78db6c47e2828677de37f60149);

            
                
            vega_parse({"width": 200, "height": 200, "autosize": "none", "data": [{"name": "table", "values": [{"id": 1, "field": 4}, {"id": 2, "field": 6}, {"id": 3, "field": 10}, {"id": 4, "field": 3}, {"id": 5, "field": 7}, {"id": 6, "field": 8}], "transform": [{"type": "pie", "field": "field", "startAngle": 0, "endAngle": 6.29, "sort": false}]}], "scales": [{"name": "color", "type": "ordinal", "range": {"scheme": "category20"}}], "marks": [{"type": "arc", "from": {"data": "table"}, "encode": {"enter": {"fill": {"scale": "color", "field": "id"}, "x": {"signal": "width / 2"}, "y": {"signal": "height / 2"}}, "update": {"startAngle": {"field": "startAngle"}, "endAngle": {"field": "endAngle"}, "outerRadius": {"signal": "width / 2"}}}}]},vega_1b9b687efea14768a01d02f996a56006);
            
            
        
    

            var marker_dda2af79bd5f4fb895f63a4be0884006 = L.marker(
                [47.602157,-122.336607],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_931f8f9e116e4072b648ccdf13a4a218 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_dda2af79bd5f4fb895f63a4be0884006.setIcon(icon_931f8f9e116e4072b648ccdf13a4a218);
            
    
            var popup_fc5c2d34a357484997f59d3504566a2f = L.popup({maxWidth: '300'});

            
                var html_28d67267e0ff4628aa0386085e6c2d02 = $('<div id="html_28d67267e0ff4628aa0386085e6c2d02" style="width: 100.0%; height: 100.0%;">114P04630 Start</div>')[0];
                popup_fc5c2d34a357484997f59d3504566a2f.setContent(html_28d67267e0ff4628aa0386085e6c2d02);
            

            marker_dda2af79bd5f4fb895f63a4be0884006.bindPopup(popup_fc5c2d34a357484997f59d3504566a2f);

            
        
    

            var marker_4aaeec35175a411dbdd85ceba0d0bdd5 = L.marker(
                [47.6024824,-122.33690940000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_6b7e548f04214d2e9d2018696e218e67 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_4aaeec35175a411dbdd85ceba0d0bdd5.setIcon(icon_6b7e548f04214d2e9d2018696e218e67);
            
    
            var popup_4b74391554f94b4fad0c3e4950316daf = L.popup({maxWidth: '300'});

            
                var html_b2170faa40be4baca151d0266d271db4 = $('<div id="html_b2170faa40be4baca151d0266d271db4" style="width: 100.0%; height: 100.0%;">114P04630 End</div>')[0];
                popup_4b74391554f94b4fad0c3e4950316daf.setContent(html_b2170faa40be4baca151d0266d271db4);
            

            marker_4aaeec35175a411dbdd85ceba0d0bdd5.bindPopup(popup_4b74391554f94b4fad0c3e4950316daf);

            
        
    
                var poly_line_f4ca9beb6a194e529f422ff76d4fc49f = L.polyline(
                    [[47.602157, -122.336607], [47.6024824, -122.33690940000001]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_e35738508f6d48eb985f18a93008526d);
            
    
            var popup_b19272eb7c274f9194b43ad51a90ead4 = L.popup({maxWidth: '300'});

            
                var vega_1d2769ed64ba4de185152b3c6e8d0f73 = $('             <div id="vega_1d2769ed64ba4de185152b3c6e8d0f73"></div>             ')[0];
                popup_b19272eb7c274f9194b43ad51a90ead4.setContent(vega_1d2769ed64ba4de185152b3c6e8d0f73);
            

            poly_line_f4ca9beb6a194e529f422ff76d4fc49f.bindPopup(popup_b19272eb7c274f9194b43ad51a90ead4);

            
                
            vega_parse({"width": 200, "height": 200, "autosize": "none", "data": [{"name": "table", "values": [{"id": 1, "field": 4}, {"id": 2, "field": 6}, {"id": 3, "field": 10}, {"id": 4, "field": 3}, {"id": 5, "field": 7}, {"id": 6, "field": 8}], "transform": [{"type": "pie", "field": "field", "startAngle": 0, "endAngle": 6.29, "sort": false}]}], "scales": [{"name": "color", "type": "ordinal", "range": {"scheme": "category20"}}], "marks": [{"type": "arc", "from": {"data": "table"}, "encode": {"enter": {"fill": {"scale": "color", "field": "id"}, "x": {"signal": "width / 2"}, "y": {"signal": "height / 2"}}, "update": {"startAngle": {"field": "startAngle"}, "endAngle": {"field": "endAngle"}, "outerRadius": {"signal": "width / 2"}}}}]},vega_1d2769ed64ba4de185152b3c6e8d0f73);
            
            
        
    

            var marker_3008bf4dcd9642f1be0ca8774e605995 = L.marker(
                [47.6024824,-122.33690940000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_0ffef78a51a444d4888256ff81ec476b = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3008bf4dcd9642f1be0ca8774e605995.setIcon(icon_0ffef78a51a444d4888256ff81ec476b);
            
    
            var popup_d5744ca740fe47b48f5a74a8ed09d8d4 = L.popup({maxWidth: '300'});

            
                var html_b4106e5a1e6c4a68b7fa8176c796e2d0 = $('<div id="html_b4106e5a1e6c4a68b7fa8176c796e2d0" style="width: 100.0%; height: 100.0%;">114+04631 Start</div>')[0];
                popup_d5744ca740fe47b48f5a74a8ed09d8d4.setContent(html_b4106e5a1e6c4a68b7fa8176c796e2d0);
            

            marker_3008bf4dcd9642f1be0ca8774e605995.bindPopup(popup_d5744ca740fe47b48f5a74a8ed09d8d4);

            
        
    

            var marker_df88aacfa01a44b8b2031156c51df484 = L.marker(
                [47.604436,-122.33870800000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_f0a1628edae049cbbcb6ec752ba5562c = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_df88aacfa01a44b8b2031156c51df484.setIcon(icon_f0a1628edae049cbbcb6ec752ba5562c);
            
    
            var popup_2d488616b7574e59b257a1b9599d7f3e = L.popup({maxWidth: '300'});

            
                var html_0831f1089d8444b192f1257e402f8536 = $('<div id="html_0831f1089d8444b192f1257e402f8536" style="width: 100.0%; height: 100.0%;">114+04631 End</div>')[0];
                popup_2d488616b7574e59b257a1b9599d7f3e.setContent(html_0831f1089d8444b192f1257e402f8536);
            

            marker_df88aacfa01a44b8b2031156c51df484.bindPopup(popup_2d488616b7574e59b257a1b9599d7f3e);

            
        
    
                var poly_line_bc2c76e4678c4ff9b974abdff25e0a36 = L.polyline(
                    [[47.6024824, -122.33690940000001], [47.604436, -122.33870800000001]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_e35738508f6d48eb985f18a93008526d);
            
    
            var popup_36dfa2cda41741ebba129c9a788c6a96 = L.popup({maxWidth: '300'});

            
                var vega_99aaf07071a64d32b3171959fa28f2c7 = $('             <div id="vega_99aaf07071a64d32b3171959fa28f2c7"></div>             ')[0];
                popup_36dfa2cda41741ebba129c9a788c6a96.setContent(vega_99aaf07071a64d32b3171959fa28f2c7);
            

            poly_line_bc2c76e4678c4ff9b974abdff25e0a36.bindPopup(popup_36dfa2cda41741ebba129c9a788c6a96);

            
                
            vega_parse({"width": 200, "height": 200, "autosize": "none", "data": [{"name": "table", "values": [{"id": 1, "field": 4}, {"id": 2, "field": 6}, {"id": 3, "field": 10}, {"id": 4, "field": 3}, {"id": 5, "field": 7}, {"id": 6, "field": 8}], "transform": [{"type": "pie", "field": "field", "startAngle": 0, "endAngle": 6.29, "sort": false}]}], "scales": [{"name": "color", "type": "ordinal", "range": {"scheme": "category20"}}], "marks": [{"type": "arc", "from": {"data": "table"}, "encode": {"enter": {"fill": {"scale": "color", "field": "id"}, "x": {"signal": "width / 2"}, "y": {"signal": "height / 2"}}, "update": {"startAngle": {"field": "startAngle"}, "endAngle": {"field": "endAngle"}, "outerRadius": {"signal": "width / 2"}}}}]},vega_99aaf07071a64d32b3171959fa28f2c7);
            
            
        
    

            var marker_93cde5a44684415d92084e97b28e66ea = L.marker(
                [47.604436,-122.33870800000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_4317c9483baf4fbfa921114093807b6d = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_93cde5a44684415d92084e97b28e66ea.setIcon(icon_4317c9483baf4fbfa921114093807b6d);
            
    
            var popup_c6b7f231771144c0b0f23648533c0a96 = L.popup({maxWidth: '300'});

            
                var html_4d3bb8c170054f75b1881c6b03cd464e = $('<div id="html_4d3bb8c170054f75b1881c6b03cd464e" style="width: 100.0%; height: 100.0%;">114P04631 Start</div>')[0];
                popup_c6b7f231771144c0b0f23648533c0a96.setContent(html_4d3bb8c170054f75b1881c6b03cd464e);
            

            marker_93cde5a44684415d92084e97b28e66ea.bindPopup(popup_c6b7f231771144c0b0f23648533c0a96);

            
        
    

            var marker_3d45944a4dee436caee8d7a75c4b7e9a = L.marker(
                [47.6054994,-122.33966140000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_d58ce9dabb474e9299a5a172329e161a = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3d45944a4dee436caee8d7a75c4b7e9a.setIcon(icon_d58ce9dabb474e9299a5a172329e161a);
            
    
            var popup_6292d1612758484780529f849ea28291 = L.popup({maxWidth: '300'});

            
                var html_f5b98d5d4bd04c14b515633512371517 = $('<div id="html_f5b98d5d4bd04c14b515633512371517" style="width: 100.0%; height: 100.0%;">114P04631 End</div>')[0];
                popup_6292d1612758484780529f849ea28291.setContent(html_f5b98d5d4bd04c14b515633512371517);
            

            marker_3d45944a4dee436caee8d7a75c4b7e9a.bindPopup(popup_6292d1612758484780529f849ea28291);

            
        
    
                var poly_line_95d3d596acb5406781f994a2ba75fd10 = L.polyline(
                    [[47.604436, -122.33870800000001], [47.6054994, -122.33966140000001]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_e35738508f6d48eb985f18a93008526d);
            
    
            var popup_2e47bb4e028146c0b66861752898c1d8 = L.popup({maxWidth: '300'});

            
                var vega_8a332c2420184fa9ae46bf4439103c8d = $('             <div id="vega_8a332c2420184fa9ae46bf4439103c8d"></div>             ')[0];
                popup_2e47bb4e028146c0b66861752898c1d8.setContent(vega_8a332c2420184fa9ae46bf4439103c8d);
            

            poly_line_95d3d596acb5406781f994a2ba75fd10.bindPopup(popup_2e47bb4e028146c0b66861752898c1d8);

            
                
            vega_parse({"width": 200, "height": 200, "autosize": "none", "data": [{"name": "table", "values": [{"id": 1, "field": 4}, {"id": 2, "field": 6}, {"id": 3, "field": 10}, {"id": 4, "field": 3}, {"id": 5, "field": 7}, {"id": 6, "field": 8}], "transform": [{"type": "pie", "field": "field", "startAngle": 0, "endAngle": 6.29, "sort": false}]}], "scales": [{"name": "color", "type": "ordinal", "range": {"scheme": "category20"}}], "marks": [{"type": "arc", "from": {"data": "table"}, "encode": {"enter": {"fill": {"scale": "color", "field": "id"}, "x": {"signal": "width / 2"}, "y": {"signal": "height / 2"}}, "update": {"startAngle": {"field": "startAngle"}, "endAngle": {"field": "endAngle"}, "outerRadius": {"signal": "width / 2"}}}}]},vega_8a332c2420184fa9ae46bf4439103c8d);
            
            
        
    

            var marker_23ae18e6153644d1a399c3b72d54d701 = L.marker(
                [47.6054994,-122.33966140000001],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_d8e67e0c2da2402a89e5537c13725f3a = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_23ae18e6153644d1a399c3b72d54d701.setIcon(icon_d8e67e0c2da2402a89e5537c13725f3a);
            
    
            var popup_66ba6a747a164cb3befb91e10f5411f7 = L.popup({maxWidth: '300'});

            
                var html_a97ea6a7e7674ac5b7c4ac543eb5d838 = $('<div id="html_a97ea6a7e7674ac5b7c4ac543eb5d838" style="width: 100.0%; height: 100.0%;">114+04632 Start</div>')[0];
                popup_66ba6a747a164cb3befb91e10f5411f7.setContent(html_a97ea6a7e7674ac5b7c4ac543eb5d838);
            

            marker_23ae18e6153644d1a399c3b72d54d701.bindPopup(popup_66ba6a747a164cb3befb91e10f5411f7);

            
        
    

            var marker_f6886a7ccc3b45cfb59e5078e43b64b6 = L.marker(
                [47.612718,-122.347392],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_8b9725bb63b841b383c938a423a8e6c9 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f6886a7ccc3b45cfb59e5078e43b64b6.setIcon(icon_8b9725bb63b841b383c938a423a8e6c9);
            
    
            var popup_074f8b7ba0b14788be8711bde27b296f = L.popup({maxWidth: '300'});

            
                var html_053c23ff1e774e0e9cbfb82d58400fe2 = $('<div id="html_053c23ff1e774e0e9cbfb82d58400fe2" style="width: 100.0%; height: 100.0%;">114+04632 End</div>')[0];
                popup_074f8b7ba0b14788be8711bde27b296f.setContent(html_053c23ff1e774e0e9cbfb82d58400fe2);
            

            marker_f6886a7ccc3b45cfb59e5078e43b64b6.bindPopup(popup_074f8b7ba0b14788be8711bde27b296f);

            
        
    
                var poly_line_29ca964082744d18adb3113bba940b16 = L.polyline(
                    [[47.6054994, -122.33966140000001], [47.612718, -122.347392]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_e35738508f6d48eb985f18a93008526d);
            
    
            var popup_d9a1ceb65cf641bc83d334072fd8bfe2 = L.popup({maxWidth: '300'});

            
                var vega_c3fdbfabd2dc467d9efeb08da47032ab = $('             <div id="vega_c3fdbfabd2dc467d9efeb08da47032ab"></div>             ')[0];
                popup_d9a1ceb65cf641bc83d334072fd8bfe2.setContent(vega_c3fdbfabd2dc467d9efeb08da47032ab);
            

            poly_line_29ca964082744d18adb3113bba940b16.bindPopup(popup_d9a1ceb65cf641bc83d334072fd8bfe2);

            
                
            vega_parse({"width": 200, "height": 200, "autosize": "none", "data": [{"name": "table", "values": [{"id": 1, "field": 4}, {"id": 2, "field": 6}, {"id": 3, "field": 10}, {"id": 4, "field": 3}, {"id": 5, "field": 7}, {"id": 6, "field": 8}], "transform": [{"type": "pie", "field": "field", "startAngle": 0, "endAngle": 6.29, "sort": false}]}], "scales": [{"name": "color", "type": "ordinal", "range": {"scheme": "category20"}}], "marks": [{"type": "arc", "from": {"data": "table"}, "encode": {"enter": {"fill": {"scale": "color", "field": "id"}, "x": {"signal": "width / 2"}, "y": {"signal": "height / 2"}}, "update": {"startAngle": {"field": "startAngle"}, "endAngle": {"field": "endAngle"}, "outerRadius": {"signal": "width / 2"}}}}]},vega_c3fdbfabd2dc467d9efeb08da47032ab);
            
            
        
    

            var marker_a39c522052614312b8f15ece19173d7e = L.marker(
                [47.612718,-122.347392],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_2f186c8e04934b8fafb570b2edaebe87 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a39c522052614312b8f15ece19173d7e.setIcon(icon_2f186c8e04934b8fafb570b2edaebe87);
            
    
            var popup_ebb85fc249914bc88693d2253f4b9e06 = L.popup({maxWidth: '300'});

            
                var html_2cc8306c5be54f37bf2874a08808c7a2 = $('<div id="html_2cc8306c5be54f37bf2874a08808c7a2" style="width: 100.0%; height: 100.0%;">114P04632 Start</div>')[0];
                popup_ebb85fc249914bc88693d2253f4b9e06.setContent(html_2cc8306c5be54f37bf2874a08808c7a2);
            

            marker_a39c522052614312b8f15ece19173d7e.bindPopup(popup_ebb85fc249914bc88693d2253f4b9e06);

            
        
    

            var marker_6f61e47d95fd4cd9a274fe949b2fcc41 = L.marker(
                [47.6139228,-122.3477682],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_e35738508f6d48eb985f18a93008526d);
            
    

                var icon_45eb60c658024454ad99fcc2933ad898 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6f61e47d95fd4cd9a274fe949b2fcc41.setIcon(icon_45eb60c658024454ad99fcc2933ad898);
            
    
            var popup_640a3e4e992a436ead2cb0358c095361 = L.popup({maxWidth: '300'});

            
                var html_01f3d030c4af447a85043743412ebecd = $('<div id="html_01f3d030c4af447a85043743412ebecd" style="width: 100.0%; height: 100.0%;">114P04632 End</div>')[0];
                popup_640a3e4e992a436ead2cb0358c095361.setContent(html_01f3d030c4af447a85043743412ebecd);
            

            marker_6f61e47d95fd4cd9a274fe949b2fcc41.bindPopup(popup_640a3e4e992a436ead2cb0358c095361);

            
        
    
                var poly_line_cfff77284a784fc79e3d67d0739d9e06 = L.polyline(
                    [[47.612718, -122.347392], [47.6139228, -122.3477682]],
                    {
  "bubblingMouseEvents": true,
  "color": "black",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "black",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}).addTo(map_e35738508f6d48eb985f18a93008526d);
            
    
            var popup_489282d17987419989ef1638d4036235 = L.popup({maxWidth: '300'});

            
                var vega_d49ca1ead7f747d185bf256172c6e8b8 = $('             <div id="vega_d49ca1ead7f747d185bf256172c6e8b8"></div>             ')[0];
                popup_489282d17987419989ef1638d4036235.setContent(vega_d49ca1ead7f747d185bf256172c6e8b8);
            

            poly_line_cfff77284a784fc79e3d67d0739d9e06.bindPopup(popup_489282d17987419989ef1638d4036235);

            
                
            vega_parse({"width": 200, "height": 200, "autosize": "none", "data": [{"name": "table", "values": [{"id": 1, "field": 4}, {"id": 2, "field": 6}, {"id": 3, "field": 10}, {"id": 4, "field": 3}, {"id": 5, "field": 7}, {"id": 6, "field": 8}], "transform": [{"type": "pie", "field": "field", "startAngle": 0, "endAngle": 6.29, "sort": false}]}], "scales": [{"name": "color", "type": "ordinal", "range": {"scheme": "category20"}}], "marks": [{"type": "arc", "from": {"data": "table"}, "encode": {"enter": {"fill": {"scale": "color", "field": "id"}, "x": {"signal": "width / 2"}, "y": {"signal": "height / 2"}}, "update": {"startAngle": {"field": "startAngle"}, "endAngle": {"field": "endAngle"}, "outerRadius": {"signal": "width / 2"}}}}]},vega_d49ca1ead7f747d185bf256172c6e8b8);
            
            
        
</script>