<!DOCTYPE html>
<html>
<head>

  <style type="text/css">
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 3px solid black;
      border-radius: 5px;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 150%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  </style>

  <title></title>

</head>

<body>
  <div class="container" align="center">
    <p> Once a project has been created, select the <b>View->Load Map</b> option from the menubar to load a web-based map of the TMCs in the facility.
    <p> (Note that this requires the TMC specification data to include latitude and longitude coordinates for both start and end points of the TMC segments.)
</div>
</body>
</html>