<!DOCTYPE html>
<html>
<head>

  <style type="text/css">
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 3px solid black;
      border-radius: 5px;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 100%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
  </style>

  <title></title>

</head>

<body>
  <div class="container" align="center">
    <p> (See <b>Facility Map</b> tab for map instructions.)
</div>
</body>
</html>